@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 97%);
    --foreground: hsl(0, 0%, 15%);
    --primary: hsl(0, 75%, 34%);
    --border: hsla(0, 0%, 0%, 0.2);
  }
}

@layer base {
  * {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .text-gradient {
    @apply bg-gradient-to-r from-red-600 via-yellow-500 to-red-400 text-transparent bg-clip-text;
  }
}

body {
  font-family: "Onest Variable", sans-serif;
}
